* {
  box-sizing: border-box;
}
body {
  font-family: Circular;
  font-size: 15px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

  .details-page-layout {
    padding-inline: 12.8%;
  }

  .home-page-layout {
    padding-inline: 5.2%;
  }

  .general-layout {
    padding-inline: 4.9%;
  }

  .become-host-layout,
  .explore-layout {
    padding-inline: 4.9%;
  }





.carousel .control-dots .dot {
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  background: rgb(255, 255, 255) !important;
  border-radius: 50%;
  width: 7px !important;
  height: 7px !important;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
  .carousel.carousel-slider .control-arrow:hover {
    background: white !important;
    color: black !important;
  }
.carousel.carousel-slider .control-arrow {
  display: none;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  top: 50% !important;
 color: black !important;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  transition: all 0.25s ease-in;
  opacity: 0.4;
  // filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
background: white !important;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}

.carousel .control-next.control-arrow {
margin-right: 10px;
color: black !important;
}

.carousel .control-next.control-arrow:before {
border-left: 8px solid rgba(0, 0, 0, 0.437) !important;
color: black !important;

}

.carousel.carousel-slider .control-arrow {
top: 0;
color: #fff;
font-size: 26px;
bottom: 0;
margin-top: 0;
padding: 0 !important;
}
.carousel .control-prev.control-arrow {
margin-left: 10px;
color: black !important;
}
.carousel .control-prev.control-arrow:before {
border-right: 8px solid rgb(0, 0, 0) !important;
}
html {
  overflow-y: scroll;
}



.mouse-cursor-gradient-tracking {
position: relative;
background: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%);
padding: 0.5rem 1rem;
font-size: 1.2rem;
border: none;
color: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%);
cursor: pointer;
outline: none;
overflow: hidden;
}

.mouse-cursor-gradient-tracking span {
position: relative;
}

.mouse-cursor-gradient-tracking:before {
--size: 0;
content: '';
position: absolute;
left: var(--x);
top: var(--y);
width: var(--size);
height: var(--size);
background: radial-gradient(circle closest-side, #FF385C, transparent);
transform: translate(-50%, -50%);
transition: width 0.2s ease, height 0.2s ease;
}

.mouse-cursor-gradient-tracking:hover:before {
--size: 200px;
}