* {
  box-sizing: border-box;
}
body {
  font-family: Circular;
  font-size: 15px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

  .details-page-layout {
    padding-inline: 12.8%;
  }

  .home-page-layout {
    padding-inline: 4.8%;
  }

  .general-layout {
    padding-inline: 4.9%;
  }

  .become-host-layout,
  .explore-layout {
    padding-inline: 4.9%;
  }




