.app-header {
  z-index: 21;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 2.6fr 1fr 1.9fr 1.6fr 0.5fr 1.4fr 0.4fr;
  grid-template-rows: 80px;
  gap: 8px 5px;
  align-items: center;
  grid-template-areas: "logo . search . explore host user";

  a:hover:not(:last-child) {
    background-color: #f7f7f7;
    border-radius: 40px;
  }
  font-weight: 570;
  .user-pic {
    align-self: flex-start;
    justify-self: flex-start;
    border-radius: inherit;
    object-fit: cover;
    vertical-align: bottom;
    position: static;
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
  .logo {
    justify-self: start;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 100;
  }
  .search-bar {
    justify-self: center;
    grid-area: search;
    .css-i4bv87-MuiSvgIcon-root {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 1em;
      height: 1em;
      display: inline-block;
      fill: currentColor;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font-size: 1.5rem;
      padding: 3px;
    }
  }
  .host {
    grid-area: host;
    padding: 12px;
    justify-self: center;
  }
  .user {
    position: relative;
    justify-self: end;
    grid-area: user;
    padding: 5px;
    .notification {
      height: 0.8rem;
      width: 0.8rem;
      top: 0px;
      border-radius: 0.4rem;
      background-color: #ff385c;
      position: absolute;
    }
    .css-i4bv87-MuiSvgIcon-root {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 1em;
      height: 1em;
      display: inline-block;
      fill: currentColor;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font-size: 1.5rem;
      margin-top: 5px;
    }
  }

  .img-logo {
    width: 38px;
    height: 38px;
  }

  .explore {
    grid-area: explore;
    padding: 12px;
    justify-self: center;
  }

  color: black;
  background-color: white;
  border-bottom: 1px solid #ebebeb;
  .logo {
    color: $main-red-pink;
  }

  &.home-page {
    color: white;
    background-color: black;
    border: none;
    a:hover {
      background-color: transparent;
    }
    .logo {
      color: white;
    }
  }
}
@media (max-width:768px) {

  .app-header {
    z-index: 21;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 80px;
    width: 100%;
    display: grid;
    font-weight: 600;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px;
    align-items: center;
    grid-template-areas: "logo . . explore host user";
  
}
.host{
  width: 130px;
}
.logo{
  margin-right: 15px;
}
}