.reserve-container {
  flex-basis: 128%;
  .reserve-modal {
    font-size: 15px;
    color: $main-black;
    z-index: 10;
    position: sticky;
    top: 80px;
    height: 300px;
    max-width: 365px;
    margin-left: 36%;
    border: 1px solid $secondary-grey;
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    .total-container{
        display: flex;
        justify-content: space-between;
    }
    .reserve-btn{
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main-red-pink;
      height: 48px;
      border-radius: 8px;
    }
    >*{
      margin-top: 10px;
    }
  }
}


.night-container{
  font-size: 14px;
  font-weight: 100;
}