.stay-main-info-container{
    flex-basis: 50%;
    flex-grow: 1;
    align-self: flex-end;
    .amenities{
        // height: 260px;
        // overflow: hidden;
    }
    &>*:not(:first-child){
        border-top: 1px solid rgb(221, 221, 221);
        padding-top: 48px;
        padding-bottom: 48px;
    }
}