.reviews-container {
  color: $main-black;
  border-top: 1px solid rgb(221, 221, 221);
  padding-top: 48px;
  padding-bottom: 48px;
 

  h1{
    font-size:23px;
    letter-spacing: 1.5px;
  }

  .rating-breakdown{
    padding-top: 30px;
    padding-bottom: 40px;
       display: grid;   
     font-size: 18px;
     font-weight: 400 !important;        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr 1fr 1.3fr 1fr 1fr 1fr 1fr; 
                grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 8px 0px; 
        grid-template-areas: 
          "prop1 . . value1 prop2 . . value2"
          "prop3 . . value3 prop4 . . value4"
          "prop5 . . value5 prop6 . . value6"
          ; 
        justify-content: space-between; 
        align-content: space-between; 
        justify-items: stretch; 
        align-items: stretch; 
        width: 100%; 
        height: 70%; 
        meter{
          width: 120px;
          height: 10px;
        }
        meter::-webkit-meter-bar {background: $secondary-grey;} 
        meter::-webkit-meter-optimum-value {background: rgb(0, 0, 0);}
        meter::-webkit-meter-suboptimum-value{background:rgb(223, 223, 223);}
        meter::-webkit-meter-even-less-good-value{background:rgb(208, 208, 208);}
        div{
          display: flex;
           align-items: center;
          span{
            justify-self: center !important;
            margin-left: 15px;
          }
        }
        span{
          color: rgb(34, 34, 34) !important;
          font-weight: 600 !important;
          font-size: 14px !important;
          line-height: 16px !important;
       }
      .cleanliness{
              grid-area: prop1;
      }
      .communication{
        grid-area: prop3;
}
.check-in{
  grid-area: prop5;
}
.accuracy{
  grid-area: prop2;
  
}
.location{
  grid-area: prop4;
}
.value{
  grid-area: prop6;
}
.c-review{
  grid-area: value1;
}
.communi-review{
  grid-area: value3;
}
.checkin-review{
  grid-area: value5;
}
.acc-review{
  grid-area: value2;

}
.loc-review{
  grid-area: value4;

}
.val-review{
  grid-area: value6;

}
  }
  .reviews-btn {
    border: 1px solid $black;
    border-radius: 8px;
    width: fit-content;
    padding: 13px 23px;
  }
  .review-cards-container {
    margin-top: 20px;
    height: 410px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0.9fr  0.9fr;
    gap: 50px;
    .review-card {
      p{
        font-weight: 300!important;
        letter-spacing: 0.7px;
        font-size: 16px;
        width: 400px;
        height:72px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }  
      }
      .writer-info-container {
        
        display: flex;
        font-size: 16px;
        h3{
          justify-self: center;
          align-self: center;
        }
        .writer-img-container {
            flex-basis: 10%;
            border-radius: 50%;
             padding-right: 10px;
             padding-bottom: 15px;
            img{
              border-radius: inherit;
              object-fit: cover;
              vertical-align: bottom;
              position: static;
              height: 56px;
              width: 56px;
            }
        }
      }
      height: 160px;
      overflow: hidden;
    }
  }

