.reserve-container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 420px;
  .reserve-modal {
    font-size: 15px;
    color: $main-black;
    z-index: 10;
    position: sticky;
    top: 80px;
    height: 300px;
    width: 100%;
    max-width: 1120px;
    border: 1px solid $secondary-grey;
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    justify-self: center;
    align-self: center;
    margin-left: 10%;
    .order-datepicker-guest {
      border: 1px solid #b0b0b0;
      font-size: 12px;
      border-radius: 0.5rem;
      > * {
        cursor: pointer;
      }
      h3 {
        padding: 1rem 0.5rem;
      }
      &.active {
        border: none;
      }
      .date-picker-modal {
        display: flex;
        font-weight: 400;
        justify-content: space-between;
        align-items: flex-start;
        h3 {
          padding: 1rem 0.5rem;
        }
        // h2{
        //   text-align: left;
        //   cursor: pointer;
        // }
        .end-date {
          padding-left: 1rem;
          border-left: 1px solid #b0b0b0;
        }
        .modal-container {
          transform: translateX(-50%);
        }
      }
      .add-guest-container {
        background-color: #fff;
        border: 0.5px solid #b0b0b0;
        border-radius: 0.4rem;
      }
      .guests-title {
        border-top: 1px solid #b0b0b0;
      }
    }

    .total-container {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $secondary-grey;
      padding-top: 40px;
    }
    h4 {
      text-align: center;
      font-weight: 500;
      margin-top: 8px;
      white-space: normal;
    }
    .reserve-btn {
      cursor: pointer;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main-red-pink;
      height: 48px;
      border-radius: 8px;
    }
    > * {
      margin-top: 10px;
    }
  }
}

.night-container {
  font-size: 14px;
  font-weight: 100;
}
