

.icon-filters {
  z-index: 20;
  column-gap: 45px;
  padding-top: 37px;
  padding-left: 7px;
  padding-bottom: 20px;
  width: 100%;
  height: 75px;
  position: sticky;
  top: 80px;
  background-color: #fff;
  display: flex;
  grid-area: filter;
  flex-direction: row;
  align-items: center;
  .filter-whole {
    padding-bottom: 13px;
    opacity: 0.5;
    &:hover {
      transition: ease-in;
      transition-duration: 0.2s;
      opacity: 1;
      cursor: pointer;
      box-shadow: inset 0px -2px 0 -0.5px rgb(221 221 221);
    }
    .center-div {
      text-align: center;
      img {
        justify-self: center;
        align-self: center;
        height: 32px;
      }
    }

    p {
      font-weight: 1000;
      font-size: 11px;
      text-align: center;

    }
  }
}
   
    .filter-icon{
      align-self: flex-end;
      width: 95px;
      height: 45px;
      font-weight: 800;
      color: $main-black;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid #DDDDDD;
      border-radius: 12px;
       display: flex;
       padding: 24px 0;
       margin: 0;
       justify-content: space-evenly;
       align-items: center;
      .filter-img{
        height: 14px;
        width: 14px;
      }
    }
  
  







.filter-modal-container {
    display: grid; 
    position: relative !important;
    grid-auto-columns: 1fr; 
    grid-template-rows: 0.4fr 2.5fr 0.6fr; 
    gap: 8px 5px; 
    justify-content: space-between; 
    align-content: space-between; 
    justify-items: stretch; 
    align-items: stretch; 
    max-height: 100% !important;
        background: rgb(255, 255, 255) !important;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px !important;
       &.hidden{
         display: none;
       }
    
       .section-filter{
         display: flex;
         align-items: flex-start;
         padding-left: 5px;
         .x-svg{
          width: 16px;
          height: 16px;
        }
        span{
        }
       }
  }

  @media (min-width: 744px){
    .filter-modal-container {

    width: 100%;
max-width: 780px !important;
border-radius: 12px;
    }
  }
  
