.main-hostpage {
  display: grid;
  grid-auto-flow: row;

  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 80px 1fr;
  gap: 8px 5px;
  grid-template-areas:
    "header"
    "dashboard";
  justify-content: space-between;
  align-content: space-between;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  height: 70%;
}

.app-header {
  grid-area: header;
}

.dashboard {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 1fr;
  gap: 8px 0px;
  grid-template-areas: "subjects main";
  justify-content: space-between;
  align-content: space-between;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  height: 70%;

  .subjects {
    grid-area: subjects;
    display: flex;
    flex-direction: column;
    justify-content:  space-evenly;
    height: 77vh;
    border: 1px solid $main-grey;

    .subject {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.active {
        background-color: $main-red-pink;
        box-shadow: 0 3px 5px rgba(234, 234, 234, 0.18);
        color: white;
      }
    }

    .subject:not(:last-child) {
      border-bottom: 1px solid grey;
    }
  }

  .data {
    box-shadow: 0 3px 5px rgba(234, 234, 234, 0.18);

    grid-area: main;
    border: 1px solid grey;
    .settings{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      justify-content: space-between;
      align-content: space-between;
      justify-items: stretch;
      align-items: stretch;    
      display: none;
      padding-bottom: 5px;
      &.active{
        display: grid;
      }
           div{
             display: flex;
             align-content: center;
             justify-content: center;
             font-weight: 900;
             width: 100%;
             color: $main-red-pink;
             font-size: 18px;
            //  border-right: 1px solid $secondary-grey;
            }
    }
    .ordersettings{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      justify-content: space-between;
      align-content: space-between;
      justify-items: stretch;
      align-items: stretch;    
      display: none;
      padding-bottom: 5px;
      &.active{
        display: grid;
      }
      div{
        display: flex;
        align-content: center;
        justify-content: center;
        font-weight: 900;
        width: 100%;
        color: $main-red-pink;
        font-size: 18px;
       //  border-right: 1px solid $secondary-grey;
       }
    } 
  }
.orders{
  display: none;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(50px,1fr));
  gap: 8px 0px;
  justify-content: space-between;
  align-content: space-between;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  height: 70%;
  &.active{
         display: grid;
  }
  .order{
    width: 100%;
    height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  border: 1px solid $secondary-grey;
  div{
    display: flex;
    justify-content: center;
    color: $main-black;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid $secondary-grey;
    button{
      align-self: center;
      justify-self: center;
      margin: 0 auto;
      margin-top: 20px;
      align-self: center;
      width: 70px;
      cursor: pointer;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main-red-pink;
      border-color: transparent;
      height: 48px;
      border-radius: 8px;
        margin-left: 5px;
   
    >*{
      margin-top: 10px;
    }
    &:hover{
      box-shadow: 0 3px 5px rgba(162, 162, 162, 0.18);
      transition: ease-in-out;
      transition-duration: 0.4s;

    }
  }

    
    div{
      justify-self: center;
      align-self: center;
    }
  }

  }
}

  .listings {

    display: none;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(50px,1fr));
    gap: 8px 0px;
    justify-content: space-between;
    align-content: space-between;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
    height: 70%;
    &.active{
           display: grid;
    }
  }
  .listing{
    width: 100%;
    height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  border: 1px solid $secondary-grey;
  div{
    display: flex;
    justify-content: center;
    color: $main-black;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid $secondary-grey;

    div{
      justify-self: center;
      align-self: center;
    }
  }

  }
}

.dashboard {
  grid-area: dashboard;
  padding-top: 20px;
}
