

.main-hero {
    object-fit: cover;
    height: 68vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    .img-container{
        margin-bottom: 50px;
        width: 95%;
        height: 80%;
        background-color: white;
        .hero-img{
            margin-bottom: 50px;

            background-image: url("../../img/hero/166791ff-bc82-4b88-ba3d-49be1d462dce\ \(1\).jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100%;
            
    }
    }
  

}
     
    .hero-action {
        font-size: 20px;
        font-weight: 400;
         letter-spacing: 0.1em;
         line-height: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 70.5%;
        color: $light-grey;
        ;
        h1 {
            color: #fff;
        }
    }

    
@media (max-width: 768px) {
    .hero-action{
        display: none;
    }
}