.stay-details-container {
  margin-top: 80px;
  .stay-title-info-container {
    height: 86px;
    .stay-name {
      line-height: 30px;
      color: $main-black;
      font-size: 26px;
      padding-top: 24px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    .short-desc {
      margin-top: 12px;
      display: flex;
      font-size: 15px;
      justify-content: space-between;
      .quick-actions {
        display: flex;
        font-weight: 600;
        line-height: 18px;
        text-align: center;
        text-decoration: underline;
        img {
          margin-right: 8px;
          object-fit: cover;
          height: 69%;
        }
        > *:hover {
          background-color: rgba(211, 211, 211, 0.164);
          border-radius: 8px;
        }
        .share-btn {
          display: flex;
          margin-right: 18px;
        }
        .save-btn {
          display: flex;
        }
      }
      .stats {
        color: $main-black;
        font-weight: 600;
        .reviews {
          text-decoration: underline;
        }
        .seperate-dott {
          margin-inline: 8px;
        }
        .super-host {
          font-weight: 400;
        }
        .address {
          text-decoration: underline;
        }
      }
    }
  }
  .img-layout {
    height: 454px;
    padding-top: 30px;
    max-width: 1320px;
    margin-bottom: 20px;
    .stay-imgs-container {
      display: grid;
      grid-template-columns: 2.4fr 1.2fr 1.2fr;
      grid-template-rows: 205px 214px;
      grid-gap: 8px;
      border-radius: 12px;

      img {
        aspect-ratio: 1;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
      .main-img-container {
        grid-column: 1/2;
        grid-row: 1/-1;
        border-radius: 12px 0px 0px 12px;
      }
    }
  }

  .info-reserve {
    display: flex;
    justify-content: stretch;
  }

  .host-info {
    border-top: 1px solid rgb(221, 221, 221);
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .short-info-container {
    color: $main-black;
    font-size: 1em;
    h4 {
      font-size: 18px;
    }
  }

  .map-container {
    margin-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  .stay-details-container {
    margin-top: 80px;
    .stay-title-info-container {
      height: auto;
      .stay-name {
        line-height: 30px;
        color: $main-black;
        font-size: 36px;
        padding-top: 24px;
        font-weight: 600;
        margin-bottom: 8px;
        text-align: center;
      }
      .short-desc {
        margin-top: 12px;
        display: flex;
        justify-content: center;
        font-size: 14px;
        .quick-actions {
          display: flex;
          font-weight: 600;
          line-height: 18px;
          text-align: center;
          text-decoration: underline;
          display: none;
          img {
            margin-right: 8px;
            object-fit: cover;
            height: 69%;
            display: none;
          }
          > *:hover {
            background-color: rgba(211, 211, 211, 0.164);
            border-radius: 8px;
          }
          .share-btn {
            display: flex;
            margin-right: 18px;
            display: none;
          }
          .save-btn {
            display: flex;
            display: none;
          }
        }
        .stats {
          color: $main-black;
          font-weight: 600;
          .stats-star {
            display: none;
          }
          .reviews {
            text-decoration: underline;
            text-align: center;
            display: none;
          }
          .seperate-dott {
            margin-inline: 8px;
            text-align: center;
            display: none;
          }
          .super-host {
            font-weight: 400;
            display: none;
          }
          .address {
            text-decoration: underline;
            text-align: center;
          }
        }
      }
    }
    .img-layout {
      max-height: 262px;
      padding-top: 5px;
      margin-bottom: 20px;
      .secondary-img-container {
        display: none;
      }
      .stay-imgs-container {
        display: grid;
        grid-template-columns: minmax(100px, 375px);
        grid-template-rows: minmax(100px, 300px);
        grid-gap: 8px;
        border-radius: 12px;

        img {
          aspect-ratio: 1;
          object-fit: cover;
          max-height: 100%;
          max-width: 95%;
        }
        .main-img-container {
          grid-column: 1/2;
          grid-row: 1/-1;
          border-radius: 12px 12px 12px 12px;
        }
      }
    }

    .info-reserve {
      display: flex;
      justify-content: stretch;
      flex-direction: column;
      align-items: center;
    }

    .host-info {
      border-top: 1px solid rgb(221, 221, 221);
      padding-top: 48px;
      padding-bottom: 48px;
    }
    .short-info-container {
      color: $main-black;
      font-size: 1em;
      h4 {
        font-size: 18px;
      }
    }

    .map-container {
      margin-bottom: 5rem;
    }
  }
  .reserve-container .reserve-modal {
    font-size: 15px;
    color: #222222;
    z-index: 10;
    position: sticky;
    top: 80px;
    height: 360px;
    width: 100%;
    max-width: 1120px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;

    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    justify-self: center;
    align-self: center;
    margin-left: -14px;
  }
  .reserve-container {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 350px;
    width: 280px;
  }
  .stay-main-info-container .short-info-container .host-img-container {
    display: none;
  }
  .details-page-layout {
    padding-inline: 10%;
  }
  .reviews-container .rating-breakdown {
    padding-top: 30px;
    padding-bottom: 40px;
    display: grid;
    font-size: 18px;
    font-weight: 400 !important;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1.3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 8px 0px;
    grid-template-areas:
      "prop1 . . value1 prop2 . . value2"
      "prop3 . . value3 prop4 . . value4"
      "prop5 . . value5 prop6 . . value6";
    justify-content: space-between;
    align-content: space-between;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
    height: 70%;
    display: none;
  }
}
