

.main-hero {
    object-fit: cover;
    height: 70vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    .img-container{
        width: 95%;
        height: 70%;
        background-color: white;
        .hero-img{
          
         
            background-image: url("../../img/hero/166791ff-bc82-4b88-ba3d-49be1d462dce\ \(1\).jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100%;
            
        
    }
    }
  

}
     
    .hero-action {
        font-size: 25px;
        font-weight: 200;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 72%;
        color: $d-nc-lt-s;
        ;
        h1 {
            padding-inline: 15px;
        }
    }

    


